In [1]:
import pandas as pd
import numpy as np
from functools import reduce

## Set Up

In [2]:
des_data = pd.read_stata(r"C:\Users\timom\OneDrive\Desktop\ML\OHIE_Public_Use_Files\OHIE_Data\oregonhie_descriptive_vars.dta")
ed_data = pd.read_stata(r"C:\Users\timom\OneDrive\Desktop\ML\OHIE_Public_Use_Files\OHIE_Data\oregonhie_ed_vars.dta")
inperson_data = pd.read_stata(r"C:\Users\timom\OneDrive\Desktop\ML\OHIE_Public_Use_Files\OHIE_Data\oregonhie_inperson_vars.dta")
patterns_data = pd.read_stata(r"C:\Users\timom\OneDrive\Desktop\ML\OHIE_Public_Use_Files\OHIE_Data\oregonhie_patterns_vars.dta")
stateprograms_data = pd.read_stata(r"C:\Users\timom\OneDrive\Desktop\ML\OHIE_Public_Use_Files\OHIE_Data\oregonhie_stateprograms_vars.dta")
survey0_data = pd.read_stata(r"C:\Users\timom\OneDrive\Desktop\ML\OHIE_Public_Use_Files\OHIE_Data\oregonhie_survey0m_vars.dta")
survey6_data = pd.read_stata(r"C:\Users\timom\OneDrive\Desktop\ML\OHIE_Public_Use_Files\OHIE_Data\oregonhie_survey6m_vars.dta")
survey12_data = pd.read_stata(r"C:\Users\timom\OneDrive\Desktop\ML\OHIE_Public_Use_Files\OHIE_Data\oregonhie_survey12m_vars.dta")

In [3]:
#Descriptive 
des_data = des_data.apply(lambda x: x.cat.codes if x.dtype.name == 'category' else x)
des_data.replace(-1, np.nan, inplace=True)
des_subdata = des_data[['person_id', 'household_id', 'treatment',
                    'applied_app', 'approved_app', 'postn_death', 'english_list','numhh_list', 
                    'birthyear_list', 'female_list','zip_msa_list']]
des_subdata.loc[:,"numhh_list"] = des_subdata["numhh_list"] + 1
des_subdata.head(5)

C:\Users\timom\AppData\Local\Temp\ipykernel_25900\3670719386.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  des_subdata.loc[:,"numhh_list"] = des_subdata["numhh_list"] + 1

,person_id,household_id,treatment,applied_app,approved_app,postn_death,english_list,numhh_list,birthyear_list,female_list,zip_msa_list
0,1.0,100001.0,1,1.0,0.0,0,1,1,1978,0.0,1.0
1,2.0,100002.0,1,0.0,0.0,0,1,1,1984,1.0,1.0
2,3.0,100003.0,0,NaN,NaN,0,1,1,1971,1.0,1.0
3,4.0,100004.0,0,NaN,NaN,0,1,1,1955,1.0,1.0
4,5.0,100005.0,1,0.0,0.0,0,0,1,1969,1.0,1.0

In [4]:
stateprograms_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74922 entries, 0 to 74921
Data columns (total 36 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   person_id                      74922 non-null  float32
 1   ohp_all_ever_matchn_30sep2009  74922 non-null  category
 2   ohp_all_ever_firstn_survey0m   58405 non-null  category
 3   ohp_all_ever_firstn_survey6m   13024 non-null  category
 4   ohp_all_ever_inperson          20745 non-null  category
 5   ohp_all_ever_firstn_30sep2009  74922 non-null  category
 6   ohp_all_end_30sep2009          74922 non-null  category
 7   ohp_all_end_survey0m           58405 non-null  category
 8   ohp_all_end_survey6m           13024 non-null  category
 9   ohp_all_end_inperson           20745 non-null  category
 10  ohp_all_at_12m                 58405 non-null  category
 11  ohp_all_mo_matchn_30sep2009    74922 non-null  category
 12  ohp_all_mo_firstn_survey0m     58405 non-null  category
 13  ohp_all_mo_firstn_survey6m     13024 non-null  category
 14  ohp_all_mo_inperson            20745 non-null  category
 15  ohp_all_mo_firstn_30sep2009    74922 non-null  category
 16  ohp_all_mo_12m                 58405 non-null  category
 17  ohp_std_ever_matchn_30sep2009  74922 non-null  category
 18  ohp_std_ever_inperson          20745 non-null  category
 19  ohp_std_ever_firstn_30sep2009  74922 non-null  category
 20  snap_ever_prenotify07          74922 non-null  category
 21  snap_ever_presurvey12m         58405 non-null  category
 22  snap_ever_matchn_30sep2009     74922 non-null  category
 23  snap_ever_firstn_survey12m     58405 non-null  category
 24  snap_tot_hh_prenotify07        74922 non-null  int16
 25  snap_tot_hh_presurvey12m       58405 non-null  float64
 26  snap_tot_hh_30sep2009          74922 non-null  int16
 27  snap_tot_hh_firstn_survey12m   58405 non-null  float64
 28  tanf_ever_prenotify07          74922 non-null  category
 29  tanf_ever_presurvey12m         58405 non-null  category
 30  tanf_ever_matchn_30sep2009     74922 non-null  category
 31  tanf_ever_firstn_survey12m     58405 non-null  category
 32  tanf_tot_hh_prenotify07        74922 non-null  float64
 33  tanf_tot_hh_presurvey12m       58405 non-null  float64
 34  tanf_tot_hh_30sep2009          74922 non-null  float64
 35  tanf_tot_hh_firstn_survey12m   58405 non-null  float64
dtypes: category(27), float32(1), float64(6), int16(2)
memory usage: 6.5 MB

In [5]:
# State
stateprograms_data = stateprograms_data.apply(lambda x: x.cat.codes if x.dtype.name == 'category' else x)
stateprograms_data.replace(-1, np.nan, inplace=True)
stateprograms_data.head(5)

,person_id,ohp_all_ever_matchn_30sep2009,ohp_all_ever_firstn_survey0m,ohp_all_ever_firstn_survey6m,ohp_all_ever_inperson,ohp_all_ever_firstn_30sep2009,ohp_all_end_30sep2009,ohp_all_end_survey0m,ohp_all_end_survey6m,ohp_all_end_inperson,...,snap_tot_hh_30sep2009,snap_tot_hh_firstn_survey12m,tanf_ever_prenotify07,tanf_ever_presurvey12m,tanf_ever_matchn_30sep2009,tanf_ever_firstn_survey12m,tanf_tot_hh_prenotify07,tanf_tot_hh_presurvey12m,tanf_tot_hh_30sep2009,tanf_tot_hh_firstn_survey12m
0,1.0,0,0.0,NaN,NaN,0,0,0.0,NaN,NaN,...,746,2624.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
1,2.0,1,1.0,NaN,NaN,1,0,1.0,NaN,NaN,...,3962,5154.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
2,3.0,0,0.0,NaN,NaN,0,0,0.0,NaN,NaN,...,3212,3374.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
3,4.0,1,NaN,NaN,NaN,1,1,NaN,NaN,NaN,...,1260,NaN,0,NaN,0,NaN,0.0,NaN,0.0,NaN
4,5.0,0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,...,0,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0

In [6]:
# Education
ed_data = ed_data.apply(lambda x: x.cat.codes if x.dtype.name == 'category' else x)
ed_data.replace(-1, np.nan, inplace=True)
ed_data.head(5)

,person_id,sample_ed,any_visit_pre_ed,any_visit_ed,num_visit_pre_cens_ed,num_visit_cens_ed,any_hosp_pre_ed,any_hosp_ed,num_hosp_pre_cens_ed,num_hosp_cens_ed,...,ed_charg_tot_pre_ed,ed_charg_tot_ed,any_hiun_pre_ed,any_hiun_ed,num_hiun_pre_cens_ed,num_hiun_cens_ed,any_loun_pre_ed,any_loun_ed,num_loun_pre_cens_ed,num_loun_cens_ed
0,60562.0,1.0,0,0,0.0,0.0,0,0,0.0,0.0,...,0.0,0.000000,0,0,0.0,0.0,0,0,0.0,0.0
1,51142.0,1.0,0,1,0.0,3.0,0,0,0.0,0.0,...,0.0,2220.699951,0,1,0.0,3.0,0,0,0.0,0.0
2,60314.0,1.0,0,1,0.0,2.0,0,1,0.0,1.0,...,0.0,4529.549805,0,1,0.0,2.0,0,0,0.0,0.0
3,50902.0,1.0,0,0,0.0,0.0,0,0,0.0,0.0,...,0.0,0.000000,0,0,0.0,0.0,0,0,0.0,0.0
4,70733.0,1.0,0,0,0.0,0.0,0,0,0.0,0.0,...,0.0,0.000000,0,0,0.0,0.0,0,0,0.0,0.0

In [7]:
# In Person
inperson_data = inperson_data.apply(lambda x: x.cat.codes if x.dtype.name == 'category' else x)
inperson_data.replace(-1, np.nan, inplace=True)
inperson_data.head(5)

,person_id,in_data_inp,sample_resp_inp,weight_total_inp,dt_release_inp,dt_completed_inp,interview_location_inp,interviewer_inp,scale_id_inp,stadio_id_inp,...,has_hght_wght_inp,has_dbs_inp,has_all_dbs_inp,rx_any_mod_inp,rx_num_mod_inp,hbp_diure_med_inp,antihyperlip_med_inp,diabetes_med_inp,antidep_med_inp,meds_miss_inp
0,45656.0,0,0,3.208729,2010-05-17,NaT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,65912.0,0,1,1.150416,2009-11-30,2009-12-15,1.0,48.0,38.0,38.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,37139.0,0,1,1.003278,2010-03-09,2010-04-07,1.0,28.0,38.0,38.0,...,1.0,1.0,1.0,1.0,2.0,0.0,0.0,0.0,1.0,0.0
3,64670.0,0,1,1.159381,2010-01-13,2010-01-19,0.0,6.0,28.0,15.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,65225.0,0,0,0.000000,NaT,NaT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Patterns
patterns_data = patterns_data.apply(lambda x: x.cat.codes if x.dtype.name == 'category' else x)
patterns_data.replace(-1, np.nan, inplace=True)
patterns_data.head(5)

,person_id,household_id,any_visit_180p_180,any_visit_180p_360,any_visit_180p_540,any_visit_180p_720,preperiod_any_visits,medicaid_all_180p_period_180,medicaid_all_180p_period_360,medicaid_all_180p_period_540,...,pobox_list,first_day_list,self_list,ohp_all_ever_inperson,dt_completed_inp,weight_total_inp,sample_inp_resp,doc_any_incl_probe_inp,ed_any_incl_probe_inp,any_inp_match_ed
0,8218.0,108218.0,0,0,1,0,0,1,1,1,...,0,1,1,0,NaT,NaN,NaN,NaN,NaN,NaN
1,62755.0,162755.0,0,1,1,0,1,0,0,0,...,0,1,1,0,NaT,NaN,NaN,NaN,NaN,NaN
2,27528.0,127528.0,0,0,0,0,1,0,0,0,...,0,1,1,0,NaT,NaN,NaN,NaN,NaN,NaN
3,67031.0,167031.0,0,0,0,0,1,0,0,0,...,0,1,1,0,NaT,NaN,NaN,NaN,NaN,NaN
4,45656.0,145656.0,0,1,0,0,1,0,0,0,...,0,1,1,0,NaT,3.208729,0.0,NaN,NaN,NaN

In [9]:
# Survey 0
survey0_data = survey0_data.apply(lambda x: x.cat.codes if x.dtype.name == 'category' else x)
survey0_data.replace(-1, np.nan, inplace=True)
survey0_data.head(5)

,person_id,sample_0m,wave_survey0m,dt_mail_0m,returned_0m,dt_returned_0m,ret_mode_0m,surv_lang_0m,in_survey_0m,app_received_0m,...,race_other_qn_0m,employ_hrs_0m,edu_0m,living_arrange_0m,hhsize_0m,hhinc_pctfpl_0m,num19_0m,num19_hi_0m,cost_tot_oop_correct_0m,cost_medical_oop_0m
0,1.0,1,5.0,2008-08-21,0.0,NaT,,,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,1,5.0,2008-08-21,0.0,NaT,,,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,1,3.0,2008-07-23,0.0,NaT,,,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,0,NaN,NaT,NaN,NaT,,,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,1,6.0,2008-09-07,0.0,NaT,,,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Survey 6
survey6_data = survey6_data.apply(lambda x: x.cat.codes if x.dtype.name == 'category' else x)
survey6_data.replace(-1, np.nan, inplace=True)
survey6_data.head(5)

,person_id,sample_6m,wave_survey6m,dt_mail_6m,returned_6m,dt_returned_6m,ret_mode_6m,surv_lang_6m,in_survey_6m,weight_6m,...,live_partner_6m,live_alone_6m,live_parents_6m,live_relatives_6m,live_friends_6m,live_other_6m,hhsize_6m,hhinc_pctfpl_6m,num19_6m,num19_hi_6m
0,1.0,0,5.0,NaT,NaN,NaT,,,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,0,5.0,NaT,NaN,NaT,,,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,0,3.0,NaT,NaN,NaT,,,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,0,NaN,NaT,NaN,NaT,,,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,1,6.0,2009-03-02,1.0,2009-03-09,Mail,Spanish,1.0,1.248947,...,1.0,0.0,0.0,0.0,0.0,1.0,3.0,NaN,0.0,NaN

In [11]:
# Survey 12
survey12_data = survey12_data.apply(lambda x: x.cat.codes if x.dtype.name == 'category' else x)
survey12_data.replace(-1, np.nan, inplace=True)
survey12_data.head(5)

,person_id,sample_12m,dt_mail_12m,dt_returned_12m,ret_mode_12m,returned_12m,surv_lang_12m,in_survey_12m,sample_12m_resp,sample_12m_nonresp,...,live_alone_12m,live_parents_12m,live_relatives_12m,live_friends_12m,live_other_12m,hhsize_12m,num19_12m,needmet_med_cor_12m,needmet_rx_cor_12m,needmet_dent_cor_12m
0,1.0,1,5.0,2009-11-24,Mail,1.0,English,1.0,1,0,...,0.0,1.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
1,2.0,1,5.0,2009-08-31,Mail,1.0,English,1.0,1,0,...,0.0,0.0,1.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0
2,3.0,1,3.0,NaT,,0.0,,0.0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,0,NaN,NaT,,NaN,,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,1,6.0,2009-08-21,Mail,1.0,Spanish,1.0,1,0,...,0.0,0.0,0.0,0.0,0.0,3.0,NaN,1.0,1.0,0.0

In [12]:
dfs = [des_subdata, stateprograms_data, ed_data, inperson_data, patterns_data, survey0_data, survey6_data, survey12_data]

merged = reduce(lambda left, right: pd.merge(left, right, on='person_id', how='outer'), dfs)

merged.describe()

,person_id,household_id_x,treatment_x,applied_app,approved_app,postn_death,english_list_x,numhh_list_x,birthyear_list_x,female_list_x,...,live_alone_12m,live_parents_12m,live_relatives_12m,live_friends_12m,live_other_12m,hhsize_12m,num19_12m,needmet_med_cor_12m,needmet_rx_cor_12m,needmet_dent_cor_12m
count,74922.00000,74922.000000,74922.000000,29799.000000,29799.000000,74922.000000,74922.000000,74922.000000,74922.000000,74921.000000,...,23775.000000,23777.000000,23777.000000,23777.000000,23776.000000,22518.000000,2.272100e+04,22940.000000,22860.000000,23172.000000
mean,37461.50000,140311.609375,0.398201,0.608175,0.291889,0.007955,0.914044,1.234270,1968.076987,0.550553,...,0.167739,0.103167,0.231779,0.103041,0.084918,10.330225,7.102876e+07,0.619137,0.719641,0.410236
std,21628.21875,21441.097656,0.489531,0.488166,0.454639,0.088836,0.280301,0.428495,12.202943,0.497441,...,0.373642,0.304183,0.421977,0.304018,0.278765,1089.954956,1.070637e+10,0.485610,0.449184,0.491887
min,1.00000,100001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1945.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,18731.25000,122288.250000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1958.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000e+00,0.000000,0.000000,0.000000
50%,37461.50000,141644.500000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1968.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000e+00,1.000000,1.000000,0.000000
75%,56191.75000,159051.750000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1979.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2.000000e+00,1.000000,1.000000,1.000000
max,74922.00000,174922.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,1988.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,163559.000000,1.613841e+12,1.000000,1.000000,1.000000

In [43]:
df_filtered = merged.filter(regex='^(?!.*_y$)')

In [14]:
filtered_columns = [col for col in df_filtered.columns if col.endswith(('_x', '_y', '_z'))]
filtered_columns

['household_id_x',
 'treatment_x',
 'english_list_x',
 'numhh_list_x',
 'birthyear_list_x',
 'female_list_x',
 'ohp_all_ever_inperson_x',
 'any_inp_match_ed_x',
 'weight_total_inp_x',
 'dt_completed_inp_x',
 'doc_any_incl_probe_inp_x',
 'ed_any_incl_probe_inp_x']

In [44]:
df_filtered = df_filtered.rename(lambda x: x.replace('_x', ''), axis=1)

df_filtered.head(5).iloc[:,1:30]

,household_id,treatment,applied_app,approved_app,postn_death,english_list,numhh_list,birthyear_list,female_list,zip_msa_list,...,ohp_all_at_12m,ohp_all_mo_matchn_30sep2009,ohp_all_mo_firstn_survey0m,ohp_all_mo_firstn_survey6m,ohp_all_mo_inperson,ohp_all_mo_firstn_30sep2009,ohp_all_mo_12m,ohp_std_ever_matchn_30sep2009,ohp_std_ever_inperson,ohp_std_ever_firstn_30sep2009
0,100001.0,1,1.0,0.0,0,1,1,1978,0.0,1.0,...,0.0,0,0.0,NaN,NaN,0,0.0,0,NaN,0
1,100002.0,1,0.0,0.0,0,1,1,1984,1.0,1.0,...,0.0,8,6.0,NaN,NaN,12,0.0,1,NaN,1
2,100003.0,0,NaN,NaN,0,1,1,1971,1.0,1.0,...,0.0,0,0.0,NaN,NaN,0,0.0,0,NaN,0
3,100004.0,0,NaN,NaN,0,1,1,1955,1.0,1.0,...,NaN,13,NaN,NaN,NaN,18,NaN,1,NaN,1
4,100005.0,1,0.0,0.0,0,0,1,1969,1.0,1.0,...,0.0,0,0.0,0.0,0.0,0,0.0,0,0.0,0

## Definition of variables

In [16]:
# Self-perceived physical/mental health outcome at 12 

df_filtered[['happiness_12m', 'health_gen_bin_12m', 'health_chg_bin_12m', 'baddays_phys_12m', 'baddays_ment_12m', 'health_work_12m', 'dep_interest_12m', 'dep_sad_12m']]

,happiness_12m,health_gen_bin_12m,health_chg_bin_12m,baddays_phys_12m,baddays_ment_12m,health_work_12m,dep_interest_12m,dep_sad_12m
0,2.0,0.0,0.0,15.0,30.0,0.0,3.0,3.0
1,1.0,0.0,0.0,3.0,12.0,1.0,2.0,2.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,0.0,0.0,30.0,30.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...
74917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74920,1.0,0.0,0.0,0.0,6.0,1.0,1.0,1.0
74921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# Self-perceived physical/mental health outcome at 0

df_filtered[[ 'health_gen_bin_0m', 'health_chg_bin_0m', 'baddays_phys_0m', 'baddays_ment_0m']]

       health_gen_bin_0m  health_chg_bin_0m  baddays_phys_0m  baddays_ment_0m
0                    NaN                NaN              NaN              NaN
1                    NaN                NaN              NaN              NaN
2                    NaN                NaN              NaN              NaN
3                    NaN                NaN              NaN              NaN
4                    NaN                NaN              NaN              NaN
...                  ...                ...              ...              ...
74917                NaN                NaN              NaN              NaN
74918                1.0                0.0              1.0             30.0
74919                NaN                NaN              NaN              NaN
74920                0.0                1.0              5.0             15.0
74921                NaN                NaN              NaN              NaN

[74922 rows x 4 columns]

In [18]:
# Financial health/strain outcome 12

df_filtered[['cost_any_oop_12m', 'cost_tot_oop_12m', 'cost_any_owe_12m', 'cost_tot_owe_12m', 'cost_borrow_12m', 'cost_refused_12m']]

,cost_any_oop_12m,cost_tot_oop_12m,cost_any_owe_12m,cost_tot_owe_12m,cost_borrow_12m,cost_refused_12m
0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...
74917,NaN,NaN,NaN,NaN,NaN,NaN
74918,NaN,NaN,NaN,NaN,NaN,NaN
74919,NaN,NaN,NaN,NaN,NaN,NaN
74920,1.0,398.0,0.0,0.0,0.0,0.0
74921,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# Financial health/strain outcome 0

df_filtered[['cost_any_oop_0m', 'cost_tot_oop_0m', 'cost_any_owe_0m', 'cost_tot_owe_0m', 'cost_borrow_0m', 'cost_refused_0m']]

,cost_any_oop_0m,cost_tot_oop_0m,cost_any_owe_0m,cost_tot_owe_0m,cost_borrow_0m,cost_refused_0m
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
74917,NaN,NaN,NaN,NaN,NaN,NaN
74918,1.0,330.0,1.0,15000.0,1.0,0.0
74919,NaN,NaN,NaN,NaN,NaN,NaN
74920,1.0,230.0,0.0,0.0,1.0,0.0
74921,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# Health care utilization outcome 12

df_filtered[['rx_any_12m', 'rx_num_mod_12m', 'doc_any_12m', 'doc_num_mod_12m', 'er_any_12m', 'er_num_mod_12m', 'hosp_any_12m' , 'hosp_num_mod_12m']]

,rx_any_12m,rx_num_mod_12m,doc_any_12m,doc_num_mod_12m,er_any_12m,er_num_mod_12m,hosp_any_12m,hosp_num_mod_12m
0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
1,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
74917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74920,1.0,5.0,1.0,1.0,0.0,0.0,0.0,0.0
74921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# Health care utilization outcome 0

df_filtered[['rx_any_0m', 'rx_num_mod_0m', 'doc_any_0m', 'doc_num_mod_0m', 'er_any_0m', 'er_num_mod_0m', 'hosp_any_0m' , 'hosp_num_mod_0m']]

,rx_any_0m,rx_num_mod_0m,doc_any_0m,doc_num_mod_0m,er_any_0m,er_num_mod_0m,hosp_any_0m,hosp_num_mod_0m
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
74917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74918,1.0,2.0,1.0,8.0,1.0,2.0,0.0,0.0
74919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74920,1.0,5.0,1.0,6.0,0.0,0.0,0.0,0.0
74921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# Treatment and Instrument

df_filtered[['treatment','applied_app','approved_app', 'ohp_all_ever_matchn_30sep2009']]

       treatment  applied_app  approved_app  ohp_all_ever_matchn_30sep2009
0              1          1.0           0.0                              0
1              1          0.0           0.0                              1
2              0          NaN           NaN                              0
3              0          NaN           NaN                              1
4              1          0.0           0.0                              0
...          ...          ...           ...                            ...
74917          0          NaN           NaN                              0
74918          1          1.0           1.0                              1
74919          0          NaN           NaN                              1
74920          1          1.0           1.0                              1
74921          0          NaN           NaN                              1

[74922 rows x 4 columns]

In [23]:
# Covariates

df_filtered[['female_list', 'birthyear_list', 'english_list']]

       female_list  birthyear_list  english_list
0              0.0            1978             1
1              1.0            1984             1
2              1.0            1971             1
3              1.0            1955             1
4              1.0            1969             0
...            ...             ...           ...
74917          0.0            1955             1
74918          1.0            1979             1
74919          1.0            1965             1
74920          1.0            1948             1
74921          0.0            1948             1

[74922 rows x 3 columns]

## Trying things

In [50]:
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer
from sklearn.preprocessing import OrdinalEncoder

In [64]:
inperson_data.columns

Index(['person_id', 'in_data_inp', 'sample_resp_inp', 'weight_total_inp',
       'dt_release_inp', 'dt_completed_inp', 'interview_location_inp',
       'interviewer_inp', 'scale_id_inp', 'stadio_id_inp', 'omron_id_inp',
       'language_inp', 'interpreter_inp', 'gender_inp', 'age_inp',
       'health_last12_inp', 'health_change_inp', 'sf4_inp',
       'ast_dx_pre_lottery_inp', 'dia_dx_pre_lottery_inp',
       'hbp_dx_pre_lottery_inp', 'chl_dx_pre_lottery_inp',
       'ami_dx_pre_lottery_inp', 'chf_dx_pre_lottery_inp',
       'emp_dx_pre_lottery_inp', 'kid_dx_pre_lottery_inp',
       'cancer_dx_pre_lottery_inp', 'dep_dx_pre_lottery_inp',
       'dia_dx_post_lottery_inp', 'hbp_dx_post_lottery_inp',
       'chl_dx_post_lottery_inp', 'dep_dx_post_lottery_inp', 'happiness_inp',
       'phqtot_inp', 'pcs8_score_inp', 'mcs8_score_inp', 'usual_clinic_inp',
       'needmet_med_inp', 'needmet_ment_inp', 'needmet_rx_inp', 'med_qual_inp',
       'chl_chk_inp', 'pap_chk_inp', 'mam_chk_inp', 'fobt_chk_inp',
       'col_chk_inp', 'psa_chk_inp', 'did_flu_inp', 'smk_curr_inp',
       'cvd_risk_point_inp', 'doc_num_incl_probe_inp',
       'doc_any_incl_probe_inp', 'ed_num_incl_probe_inp',
       'ed_any_incl_probe_inp', 'surg_num_incl_probe_inp',
       'surg_any_incl_probe_inp', 'hosp_num_incl_probe_inp',
       'hosp_any_incl_probe_inp', 'tot_med_spend_other_inp',
       'any_oop_spending_inp', 'catastrophic_exp_inp', 'ins_any_inp',
       'ins_ohp_inp', 'ins_private_inp', 'owe_inp', 'borrow_inp', 'edu_inp',
       'hispanic_inp', 'race_white_inp', 'race_black_inp', 'race_nwother_inp',
       'a1c_inp', 'hdl_inp', 'chl_inp', 'bmi_inp', 'bp_sar_inp', 'bp_dar_inp',
       'has_bp_inp', 'has_waist_inp', 'has_hght_wght_inp', 'has_dbs_inp',
       'has_all_dbs_inp', 'rx_any_mod_inp', 'rx_num_mod_inp',
       'hbp_diure_med_inp', 'antihyperlip_med_inp', 'diabetes_med_inp',
       'antidep_med_inp', 'meds_miss_inp'],
      dtype='object')

In [63]:
df_filtered[['person_id', 'household_id'
             # outcome 1
             'happiness_12m', 'health_gen_bin_12m', 'health_chg_bin_12m', 
             'baddays_phys_12m', 'baddays_ment_12m', 'health_work_12m', 
             'dep_interest_12m', 'dep_sad_12m',
             # outcome 2
             'cost_any_oop_12m', 'cost_tot_oop_12m', 'cost_any_owe_12m', 
             'cost_tot_owe_12m', 'cost_borrow_12m', 'cost_refused_12m',
             # outcome 3
             'rx_any_12m', 'rx_num_mod_12m', 'doc_any_12m', 'doc_num_mod_12m', 
             'er_any_12m', 'er_num_mod_12m', 'hosp_any_12m' , 'hosp_num_mod_12m',
             # treatment
             'treatment','applied_app','approved_app', 'ohp_all_ever_matchn_30sep2009',
             # covariates
             'female_list', 'birthyear_list', 'english_list', 
            ]]

,happiness_12m,health_gen_bin_12m,health_chg_bin_12m,baddays_phys_12m,baddays_ment_12m,health_work_12m,dep_interest_12m,dep_sad_12m,cost_any_oop_12m,cost_tot_oop_12m,...,er_num_mod_12m,hosp_any_12m,hosp_num_mod_12m,treatment,applied_app,approved_app,ohp_all_ever_matchn_30sep2009,female_list,birthyear_list,english_list
0,2.0,0.0,0.0,15.0,30.0,0.0,3.0,3.0,0.0,0.0,...,0.0,0.0,0.0,1,1.0,0.0,0,0.0,1978,1
1,1.0,0.0,0.0,3.0,12.0,1.0,2.0,2.0,0.0,0.0,...,0.0,0.0,0.0,1,0.0,0.0,1,1.0,1984,1
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,0,1.0,1971,1
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,1,1.0,1955,1
4,1.0,0.0,0.0,30.0,30.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1,0.0,0.0,0,1.0,1969,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,0,0.0,1955,1
74918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,1.0,1.0,1,1.0,1979,1
74919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,1,1.0,1965,1
74920,1.0,0.0,0.0,0.0,6.0,1.0,1.0,1.0,1.0,398.0,...,0.0,0.0,0.0,1,1.0,1.0,1,1.0,1948,1
74921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,1,0.0,1948,1

In [46]:
selected_columns = df_filtered.select_dtypes(include=['int', 'float', 'bool', 'category']).columns
df_filtered.columns.difference(selected_columns)

Index(['birthyear_list', 'dt_completed_inp', 'dt_mail_0m', 'dt_mail_6m',
       'dt_notify_treat', 'dt_release_inp', 'dt_returned_0m',
       'dt_returned_12m', 'dt_returned_6m', 'english_list', 'numhh_list',
       'ohp_all_end_30sep2009', 'ohp_all_ever_firstn_30sep2009',
       'ohp_all_ever_matchn_30sep2009', 'ohp_all_mo_firstn_30sep2009',
       'ohp_all_mo_matchn_30sep2009', 'ohp_std_ever_firstn_30sep2009',
       'ohp_std_ever_matchn_30sep2009', 'postn_death', 'ret_mode_0m',
       'ret_mode_12m', 'ret_mode_6m', 'sample_0m', 'sample_12m',
       'sample_12m_nonresp', 'sample_12m_nonzeroweight', 'sample_12m_resp',
       'sample_6m', 'snap_ever_matchn_30sep2009', 'snap_ever_prenotify07',
       'snap_tot_hh_30sep2009', 'snap_tot_hh_prenotify07', 'surv_lang_0m',
       'surv_lang_12m', 'surv_lang_6m', 'tanf_ever_matchn_30sep2009',
       'tanf_ever_prenotify07', 'treatment', 'visit_dt_max', 'visit_dt_min'],
      dtype='object')

In [48]:
df_filtered = df_filtered.apply(lambda x: pd.to_numeric(x, errors='coerce') if x.dtype == 'object' else x)
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74922 entries, 0 to 74921
Columns: 646 entries, person_id to needmet_dent_cor_12m
dtypes: datetime64[ns](10), float32(103), float64(509), int16(3), int8(21)
memory usage: 328.6 MB

In [53]:
datetime_columns = df_filtered.select_dtypes('datetime64[ns]').columns
ordinal_encoder = OrdinalEncoder()
df_filtered[datetime_columns] = ordinal_encoder.fit_transform(df_filtered[datetime_columns])
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74922 entries, 0 to 74921
Columns: 646 entries, person_id to needmet_dent_cor_12m
dtypes: float32(103), float64(519), int16(3), int8(21)
memory usage: 328.6 MB

In [54]:
n_neighbors = 5

# Identify columns with missing values
columns_with_missing = df_filtered.columns[df_filtered.isnull().any()].tolist()

# Instantiate KNNImputer
imputer = KNNImputer(n_neighbors=n_neighbors)

# Apply KNN imputation only to columns with missing values
df_filtered[columns_with_missing] = imputer.fit_transform(df_filtered[columns_with_missing])

KeyboardInterrupt:

In [55]:

# Assuming df_filtered is your pandas DataFrame
# and 'treatment' is the treatment column

# Specify the outcome columns
outcome_columns = ['rx_any_12m', 'rx_num_mod_12m', 'doc_any_12m', 'doc_num_mod_12m',
                   'er_any_12m', 'er_num_mod_12m', 'hosp_any_12m', 'hosp_num_mod_12m']

# Select the covariates (exclude treatment and outcome columns)
covariates = df_filtered1.columns.difference(['treatment'] + outcome_columns + ['person_id','household_id'])

# Split the data into training and testing sets
train_df, test_df = train_test_split(df_filtered1, test_size=0.2, random_state=42)

# Define XGBoost model
model = xgb.XGBRegressor(objective='reg:squarederror', random_state=42)

# Fit the model on the training data
model.fit(train_df[covariates], train_df[outcome_columns])

# Predict the outcomes for the test data
predictions = model.predict(test_df[covariates])

# Evaluate the model's performance (you may want to use appropriate evaluation metrics)
# For regression tasks, you can use metrics like mean squared error, mean absolute error, etc.

# Extract feature importance scores
feature_importances = model.feature_importances_

# Print or analyze feature importances to identify important covariates
print("Feature Importances:")
for feature, importance in zip(covariates, feature_importances):
    print(f"{feature}: {importance}")

XGBoostError: [01:55:58] C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0b3782d1791676daf-1\xgboost\xgboost-ci-windows\src\data\data.cc:507: Check failed: valid: Label contains NaN, infinity or a value too large.

In [38]:
print(train_df[outcome_columns].isnull().sum())

rx_any_12m          45260
rx_num_mod_12m      45269
doc_any_12m         41105
doc_num_mod_12m     41145
er_any_12m          41088
er_num_mod_12m      41116
hosp_any_12m        41046
hosp_num_mod_12m    41075
dtype: int64

## Analysis

In [ ]:
import matplotlib.pyplot as plt

#### Treatment

In [ ]:
des_subdata.describe()

In [ ]:
grouped_mean = des_subdata.groupby('numhh_list')['treatment'].mean()
grouped_mean.plot(kind='bar')
plt.title('Mean Treatment Number in House')
plt.show()

In [ ]:
grouped_mean = des_subdata.groupby('female_list')['treatment'].mean()
grouped_mean.plot(kind='bar')
plt.title('Mean Treatment Female')
plt.show()

In [ ]:
grouped_mean = des_subdata.groupby('birthyear_list')['treatment'].mean()
grouped_mean.plot(kind='bar')
plt.title('Mean Treatment Birth')
plt.show()

In [ ]:
grouped_mean = des_subdata.groupby('zip_msa_list')['treatment'].mean()
grouped_mean.plot(kind='bar')
plt.title('Mean Treatment Zipcode')
plt.show()

In [ ]:
grouped_mean = des_subdata.groupby('english_list')['treatment'].mean()
grouped_mean.plot(kind='bar')
plt.title('Mean Treatment English')
plt.show()

#### Applicaton and Approval

In [ ]:
grouped_mean = des_subdata.groupby('numhh_list')['applied_app'].mean()
grouped_mean.plot(kind='bar')
plt.title('Mean Applied App HH Number')
plt.show()

In [ ]:
grouped_mean = des_subdata.groupby('numhh_list')['approved_app'].mean()
grouped_mean.plot(kind='bar')
plt.title('Mean Approved HH Number')
plt.show()

In [ ]:
grouped_mean = des_subdata.groupby('female_list')['applied_app'].mean()
grouped_mean.plot(kind='bar')
plt.title('Mean Applied Female')
plt.show()

In [ ]:
grouped_mean = des_subdata.groupby('female_list')['approved_app'].mean()
grouped_mean.plot(kind='bar')
plt.title('Mean Approved Female')
plt.show()